body{
    font-family: 'EB Garamond', serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
span{
    color: chocolate;
}
.flexible-container{
    display: flex;
}
.h-wi{
    width: 50%;
    padding-left: 10%;
    padding-bottom: 10%;
}
.h-wi img{
    width: 80%;
}
.link-design{
    text-decoration: none;
    background-image: linear-gradient(blue,green);
    color: white;
    padding: 10px 40px;
    border-radius: 10%;
}
.top-color{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    display: flex;
}

.LINK-D{
    text-decoration: none;
    background-image: linear-gradient(orange,pink);
    border-radius: 10px;
    color: white;
    padding: 10px 40px;
}
.side-color{
    background-image: url(images/dream-bg.png); 
    background-repeat: no-repeat; 
    background-position: right;
}
.t-design{
    text-align: justify;
    border: 5px;
}
.ex-item{
    width: 40%;
    margin: 5%;
    box-shadow: 5px 5px 5px 5px cornflowerblue;
    padding: 20px;
    border-radius: 15px;
}
.ex-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#border-color{
    border-left: 7px solid tomato;
}
#border{
    border-left: 7px solid blue;
}