body{
    font-family: 'EB Garamond', serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
span{
    color: chocolate;
}
section{
    display: flex;
}
.h-wi{
    width: 50%;
    padding-left: 10%;
}
.h-wi img{
    width: 80%;
}
.link-design{
    text-decoration: none;
    background-image: linear-gradient(blue,green);
    color: white;
    padding: 10px 40px;
    border-radius: 10%;
}
.top-color{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    display: flex;
}
.r-sig{
    padding-top: 10%;
    padding-left: 10%;
    width: 50%;
}
}
.r-sig img{
    width: 40%;
}
.LINK-D{
    text-decoration: none;
    background-image: linear-gradient(orange,pink);
    border-radius: 10px;
    color: white;
    padding: 10px 40px;
}